<div class="flex flex-col max-w-md mx-auto mt-10 space-y-4">
    {{ form_start(form, {'attr': {'class': 'space-y-4'}}) }}
    {{ form_row(form.modelName, {'attr': {'class': 'w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-300'}}) }}
    {{ form_row(form.description, {'attr': {'class': 'w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-300'}}) }}
    {{ form_row(form.image, {'attr': {'class': 'mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10'}}) }}
    <button type="submit" class="inline-flex items-center px-4 py-2 text-white bg-blue-600 hover:bg-blue-700 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-300">Save</button>
    <a href="{{ path('app_guitar_index') }}" class="inline-block ml-2 items-center px-4 py-2 text-white bg-blue-600 hover:bg-blue-700 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-300">back to list</a>
    {{ form_end(form) }}
</div>
